.sidebar {
    width: 253px !important;
    height: calc(100vh);
}
.sidebar__item {
    transition: 0.2s;
}

.sidebar__item:hover {
    background-color: #F1ECEA;
    border-radius: 0px 12px 12px 0px;
}

.active {
    background-color: #F1ECEA;
    border-radius: 0px 12px 12px 0px;
}

.active-text {
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #6F382B;
}