.body__content {
    width: 705px;
}

.select {
    background-color: #6F382B;
    color: #FFFFFF;
}

h7 {
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
}