.auth {
    position: fixed;
    top: 0;
    left: 0;
    display: none;
   background: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(20px);
}

.login {
    width: 378px;
    height: 678px;
}

.register{
    width: 378px;
    height: 678px; 
    display: none;
}

.forgot-password {
    width: 378px;
    height: 678px; 
    display: none;
}

.visible {
    display: none !important;
}

.step-circle {
    width: 48px;
    height: 48px;
    border-radius: 100px;
    border: 1px solid #D9DDE8;
    z-index: 0;
}

.step-line {
    position: absolute;
    top: 25%;
    left: 50px;
    width: 272px;
    height: 1px;
    background: #D9DDE8;

}

.step-control {
    background-color: #6F382B;
    color: white;
}

input {
    padding: 0.75em;
    
}

::placeholder {
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
}